.clock {
  border: solid 1vw black;
  border-radius: 10px;
  box-shadow: 0px 0px 5vw black;
}

.generalTable {
  font-weight: bold;
  color: #0a0a0a;
  font-size: 2.5vw;
  margin: 3.0vw;
}

.generalCell {
  padding-right: 15px;
  text-align: center;
}

.generalCell:last-of-type {
  padding-right: 0px;
}

.activeCell {
  padding-right: 15px;
  color: #fcfcfc;
  text-align: center;
}

.activeCell:last-of-type {
  padding-right: 0px;
}